<!doctype html>
<html data-ng-app="mythTVWebModule" ng-controller="RecordingsController">
<head>
<title>MythTV Recordings and Streams</title>
<script src="js/angular.js"></script>
<script src="js/controllers.js"></script>
<script src="js/moment.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<div>
    <div loading-indicator style='position:absolute;left:5px;top:5px;background-color:red;color:white;'></div>
    <div ng-show="streams">
      <h1>MythTV Streams</h1> 
      <table>
        <tr>
          <th><a href="" ng-click="streamsPredicate = 'Id'; streamsReverse=!streamsReverse" style="color: white;" title="Click to sort">ID</a></th>
          <th><a href="" ng-click="streamsPredicate = 'PercentComplete'; streamsReverse=!streamsReverse" style="color: white;" title="Click to sort">Percent<br>complete</a></th>
          <th><a href="" ng-click="streamsPredicate = 'StatusStr'; streamsReverse=!streamsReverse" style="color: white;" title="Click to sort">Status</a></th>
          <th style="color: white;">Stop</th>
	  <th style="color: white;">Delete</th>
        </tr>
        <tr ng-repeat="stream in streams | orderBy:streamsPredicate:streamsReverse">
          <td><a href="{{stream.FullURL}}" title="Play stream">{{stream.Id}} {{getTitleFromLocalStorage(stream.Id)}}</a></td>
          <td style="text-align:center">{{stream.PercentComplete}}</td>
          <td>{{stream.StatusStr}}</td>
          <td style="text-align:center"><a href ng-click="stopStream(stream)" title="Stop generating this stream">S</a></td>
          <td style="text-align:center"><a href ng-click="deleteStream(stream)" title="Delete this stream">D</a></td>
        </tr>
      </table>
    </div>
    <h1>MythTV Recordings</h1>
    <div>
    <input ng-model="searchText" title="Filter text">{{recordingsFiltered.length}} recordings &nbsp;&nbsp;<a href="" ng-click="loadRecordings()">Refresh</a>
    <input type="radio" ng-model="actionToTake" value="raw" ng-click="rawUrl=''">Raw
    <input type="radio" ng-model="actionToTake" value="transcode" ng-click="rawUrl=''">Transcode
    <input type="radio" ng-model="actionToTake" value="url">URL for raw
    <input ng-show="rawUrl" ng-model="rawUrl" onClick="this.select();">
    </div>
    <table>
      <tr>
        <th><a href="" ng-click="recordingsPredicate = '-StartTime'; reverse=!reverse" style="color: white;" title="Click to sort">Start<br>date</a></th>
        <th><a href="" ng-click="recordingsPredicate = 'Title'; reverse=!reverse" style="color: white;" title="Click to sort">Title</a></th>
        <th><a href="" ng-click="recordingsPredicate = 'Category'; reverse=!reverse" style="color: white;" title="Click to sort">Category</a></th>
        <th><a href="" ng-click="recordingsPredicate = '[Season,Episode,Title]'; reverse=!reverse" style="color: white;" title="Click to sort">Season<br>Episode</a></th>
      </tr>
      <tr ng-repeat="recording in recordingsFiltered = (recordings | orderBy:recordingsPredicate:reverse | filter:searchText)">
	<td>{{recording.StartTime | date : 'EEE MMM d, yyyy h:mm a'}}</td>
        <td><a href ng-click="handleRecording(recording)" title="Click to download raw or transcode for stream {{recording.Title}} - {{recording.SubTitle}} - {{recording.Description}} " ng-mouseover='hoverWork(recording)'>{{recording.Title}}</a></td>
        <td>{{recording.Category}}</td>
        <td>{{recording.Season}}x{{recording.Episode}}</td>
      </tr>
    </table>

</div>

</body>
</html>
