<!doctype html>
<html data-ng-app="mythTVWebModule">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="js/controllers.js"></script>
<script>
var xbmcURL = "http://i3c.pla.lcl:8080/jsonrpc";
function playOnXbmc(recordingUrl) {
	var request = $http({
		method: "post",
		url: xbmcURL,
		data: {"jsonrpc": "2.0", "method": "Player.Open", "params":{"item":{ "file" : recordingUrl}}}
	});
}
</script>
<link rel="stylesheet" type="text/css" href="style.css">
<style>
td {
  white-space: nowrap;
}
</style>
</head>
<body>
<h1>MythTV Recordings</h1>
<div ng-controller="RecordingsController">
    <div loading-indicator style='position:absolute;left:5px;top:5px;background-color:red;color:white;'></div>
    <input ng-model="searchText" title="Filter text">{{recordingsFiltered.length}} recordings
    <table>
      <tr>
        <th><a href="" ng-click="recordingsPredicate = 'Airdate'; reverse=!reverse" style="color: white;" title="Click to sort">Air<br>date</a></th>
        <th><a href="" ng-click="recordingsPredicate = 'Title'; reverse=!reverse" style="color: white;" title="Click to sort">Title</a></th>
        <th><a href="" ng-click="recordingsPredicate = 'Category'; reverse=!reverse" style="color: white;" title="Click to sort">Category</a></th>
        <th><a href="" ng-click="recordingsPredicate = '[Season,Episode,Title]'; reverse=!reverse" style="color: white;" title="Click to sort">Season<br>Episode</a></th>
      </tr>
      <tr ng-repeat="recording in recordingsFiltered = (recordings | orderBy:recordingsPredicate:reverse | filter:searchText)">
        <td>{{recording.Airdate}}</td>
        <td><a href='/Content/GetRecording?StartTime={{recording.StartTime}}&ChanId={{recording.Channel.ChanId}}' title='Click to download recording' target=recording>{{recording.Title}}</a> <button onclick='playOnXbmc({{recording}});'>XBMC</button></td>
        <td>{{recording.Category}}</td>
        <td>{{recording.Season}}x{{recording.Episode}}</td>
      </tr>
    </table>
</div>
 

</body>
</html>
