body, html {font-family:Verdana;}
table {border-collapse: collapse;border: thin solid gray;}
th {background-color:navy;text-align:left}
td {background-color:silver;}
A {text-decoration: none}
A:link { color: blue }
A:visited { color: navy }
A:active { color: red;background-color:yellow;  }
A:hover { background-color: red ; text-decoration: underline }
td { white-space: nowrap; }

